:root{
--main-font-family: "Roboto", sans-serif;
--secondary-font-family: "Raleway", sans-serif;
--primary-text-color: #2E2F42;
--titel-text-color: #434455;
--primary-bg-color: #FFFFFF;
--secondary-bg-color: #2E2F4266;
--accent-color: #4D5AE5;
--btn-hover-color: #404BBF;
}
body {
    margin: 0;
    padding: 0;
    color: #434455;
    font-family: var(--main-font-family);
    background-color: #FFFFFF;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

button{
    cursor: pointer;
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}

/* Components */

.container{
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-heading {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.reg-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--titel-text-color);
}


/* Header Section */
.main-header {
    background-color:var(--primary-bg-color);
    border-bottom: 1px solid #E7E9FC;   
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
}
.logo-style-header {
    color: var(--primary-text-color);
}
.main-nav{
    display: flex;
    align-items: center;
}
.navmenu{
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.navmenu-item {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 24px 0;
}
.navmenu-item:hover,
.navmenu-item:focus,
.navmenu-item::selection{
    color: #404bbf;
}

.contacts{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 24px;
        padding-bottom: 24px;
}
.contacts-item {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--titel-text-color);
    font-style: normal;
}
.contacts-item:hover,
.contacts-item:focus{
    color: #404bbf;
}


/* Hero*/

.hero{
        padding-top: 188px;
        padding-bottom: 188px;
        background-color: var(--primary-text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url("../images/hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1440px;
}

.order-btn{
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
}
.order-btn:hover,
.order-btn:focus{
            background-color: #404BBF;
            cursor: pointer;
}
.menu-padding{
    padding: 24px 0;
}

/* Features section */
.features-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-list{
    padding: 0px;
    gap: 24px;
    display: flex;
}
.features-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.features-list-item{
    width: calc((100% - 72px) / 4);
}
.features-list-item-icon{
    max-width: 264px;
    max-height: 112px;
    background-color: #F4F4FD;
    padding-top: 24px;
    padding-bottom: 24px;
}
.features-subheading-style{
    margin-bottom: 8px;
}

/* What are we doing section */

.examples-section{
    padding-bottom: 120px;
}
.activities{
    display: flex;
    gap: 24px;
}
.activities-heading-style{
    margin-bottom: 72px;
}
.activities-item{
    width: calc((100% - 48px) / 3);
}

/* Our Team section */

.team-background{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-section-heading{
    margin-bottom: 72px;
}
.team-list{
    margin: auto;
    display: flex;
    text-align: center;
    gap: 24px;
}
.team-names {
    text-align: center;
    margin-bottom: 8px;
}
.team-positions{
    text-align: center;
}
.team-list-item{
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
}
.team-name-box{
    padding: 32px 0;
}

.subheader-text{
    font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--titel-text-color);
        text-align: center;
}
.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-list-link{
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-list-link:hover{
    background-color: var(--btn-hover-color);
}

.social-list-link:focus{
    background-color: var(--btn-hover-color);
}

.social-icon{
    fill: #f4f4fd;
}

/* Cusomers Section */
.customer-container{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customer-section-heading{
    margin-bottom: 72px;
}
.customer-list{
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.customer-link{
        border: 1px solid #8E8F99;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #8e8f99;
}
.customer-icon{
   fill: currentColor;
}
.customer-list-item{
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.customer-link:hover,
.customer-link:focus{
    border: 1px solid var(--btn-hover-color);
    border-radius: 4px;
    color: #404bbf;
}
.customer-link:hover .customer-icon{
    fill:var(--btn-hover-color);
}


/* Footer section */

.main-footer{
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-text-style{
    max-width: 264px;
    color: var(--primary-bg-color);
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
    font-family: var(--secondary-font-family);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.logo-style-footer{
        color: #f4f4fd;
}
.footer-paragraph{
    margin-right: 120px;
}
.footer-socials-list{
    gap: 16px;
}
.footer-socials-text{
    color: var(--primary-bg-color);
    margin-bottom: 16px;
}


/* Portfolio page */
.portfolio-filters-container{
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-filters{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-filters-button{
        padding: 12px 24px;
        background-color: #F4F4FD;
        border-radius: 4px; 
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;    
        color: #4d5ae5;
        border: 1px solid #e7e9fc;
        border-radius: 4px;
}

.portfolio-filters-button:hover,
.portfolio-filters-button:focus{
    border: 1px solid transparent;
    background-color: #404BBF;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Selection section */
.selection{
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}
.selection-item{
    background: var(--primary-bg-color);
    width: calc((100% - 48px) / 3);
}
.selection-item-image{
    background-color: var(--accent-color);
    Width: 360px;
    Height: 300px
}
.selection-item-text-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-items{
    margin-bottom: 8px;
}
.selection-item-link{
    display: block;
}
.selection-item-link:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
