:root{
--main-font-family: "Roboto", sans-serif;
--secondary-font-family: "Raleway", sans-serif;
--primary-text-color: #2E2F42;
--titel-text-color: #434455;
--primary-bg-color: #FFFFFF;
--secondary-bg-color: #2E2F4266;
--accent-color: #4D5AE5;
--btn-hover-color: #404BBF;
}
body {
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Styles page */

/* Header Section */
.main-header {
    background-color:var(--primary-bg-color);
    border-bottom: 1px solid #E7E9FC;
    max-width: 1128px;
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
}
.logo {
    font-family: var(--main-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    margin: auto;
}
.main-nav{
    display: flex;
}
.navmenu{
    margin-left: 76px;
    display: flex;
    gap: 40px;
}
.navmenu-item{
    font-family:var(--main-font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.contacts{
    display: flex;
    gap: 40px;
}
.contacts-item {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--titel-text-color);
}


/* Above-the-fold Section */

.hero{
    min-height: 600px;
    background-color: var(--primary-text-color);
    display: flex;
}
.hero-wrapper{
    max-width: 496px;
    margin: auto;
    text-align: center;
}
.main-heading{
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-bg-color);
}
.section-heading{
    font-family: var(--main-font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
}
.subheading{
    font-family: var(--main-font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;        
        letter-spacing: 0.02em;        
        color: var(--primary-text-color);
}
.team-names{
    text-align: center;
}
.reg-text{
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
     line-height: 24px;
    letter-spacing: 0.02em;    
    color: var(--titel-text-color);
}
.order-btn{
    padding: 16px 32px;
    background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: var(--main-font-family);;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--primary-bg-color);
}
.order-btn:hover,
.order-btn:focus{
            background: var(--btn-hover-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
}

/* Features section */

.features-list{
    padding: 0px;
    gap: 24px;
    max-width: 1128px;
    display: flex;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px
}

/* What are we doing section */


.activities{
    max-width: 1128px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 120px;
}
.header-text{
    font-family: var(--main-font-family);
        font-style: normal;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
}
.secondary-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

/* Our Team section */

.team-background{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list{
    padding: 0;
    max-width: 1128px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 72px;
}
.team-list-item{
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}

.subheader-text{
    font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--titel-text-color);
        text-align: center;
}

/* Footer section */

.main-footer{
    background-color: var(--primary-text-color);
    padding: 100px 0 100px 156px;
}
footer a{
    margin-bottom: 18px;
    text-decoration: none;
}
footer p{
    max-width: 264px;
    margin: 0;
    margin-top: 18px;
    font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
.logo-style1{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-color);
}
.logo-style2{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
.logo-style3{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);;
}

/* Portfolio page */
.portfolio-filters{
    padding: 0;
    display: flex;
    max-width: 652px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 72px;
    margin-top: 96px;
}
.portfolio-filters-button{
        padding: 12px 24px;
        background: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;    
}
.portfolio-filters-item-text{
    font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--primary-bg-color);
}
.portfolio-filters-button:hover,
.portfolio-filters-button:focus{
    background: var(--btn-hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
/* Selection section */
.selection{
    max-width: 1128px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    margin-bottom: 120px;
}
.selection-item{
    max-width: 360px;
    background: var(--primary-bg-color);
    border: 1px solid #E7E9FC;
    margin-bottom: 48px;
}
.portfolio-items{
    margin: 32px 0 8px 16px
}
.portfolio-items-text{
    margin: 0px 0 32px 16px
}